<p>
    <strong>Título:</strong>
    <%= @article.title %>
</p>

<p>
    <strong> Texto: </strong>
    <%= @article.text%>
</p>
<br><br><br>


<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'voltar', articles_path %>